In [ ]:
#ФИО:Михайлова Ксения   Домашнее задание (Алгоритмы классификации)

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
from scipy import stats

import datetime
import time
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('adult.csv')

In [3]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age                48842 non-null int64
workclass          48842 non-null object
fnlwgt             48842 non-null int64
education          48842 non-null object
educational-num    48842 non-null int64
marital-status     48842 non-null object
occupation         48842 non-null object
relationship       48842 non-null object
race               48842 non-null object
gender             48842 non-null object
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null object
income             48842 non-null object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [4]:
data['income'].value_counts()

<=50K    37155
>50K     11687
Name: income, dtype: int64

In [ ]:
#Первые фичи берем те которые числовые

In [8]:
X1 = data[ [ 'fnlwgt', 'capital-gain', 'capital-loss', 'hours-per-week' ] ]

In [ ]:
#Преобразовываем У

In [9]:
from sklearn import preprocessing
lb = preprocessing.LabelBinarizer()
lb.fit(data['income'])

LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)

In [10]:
lb.classes_

array(['<=50K', '>50K'], dtype='<U5')

In [11]:
lb.transform(['<=50K', '>50K'])

array([[0],
       [1]])

In [48]:
y = lb.fit_transform(data['income'])

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X1, y, test_size=0.25, random_state=42)

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
model = LogisticRegression()

In [21]:
y = y_train.ravel()
y_train = np.array(y).astype(int)

In [22]:
model.fit( X_train, y_train )

/Applications/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [30]:
y_pred = model.predict( X_test )

In [37]:
y_pred[:10]

array([0, 0, 1, 0, 0, 0, 0, 1, 0, 0])

In [36]:
y_test[:10]

array([[0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0]])

In [38]:
model.score(X_test, y_test)

0.8023093931700925

In [ ]:
#Попробуем взять категориальные переменные

In [39]:
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline

class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [40]:
X2 = data[ [ 'workclass', 'education', 'race', 'gender' ] ]

In [41]:
X2.head()

   workclass     education   race  gender
0    Private          11th  Black    Male
1    Private       HS-grad  White    Male
2  Local-gov    Assoc-acdm  White    Male
3    Private  Some-college  Black    Male
4          ?  Some-college  White  Female

In [51]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y, test_size=0.25, random_state=42)

In [52]:
X_train2 = MultiColumnLabelEncoder(columns = ['workclass', 'education', 'race', 'gender' ]).fit_transform(X_train2)

In [53]:
X_test2 = MultiColumnLabelEncoder(columns = ['workclass', 'education', 'race', 'gender' ]).fit_transform(X_test2)

In [54]:
X_train2.head()

       workclass  education  race  gender
27859          0          8     4       1
5654           4          9     1       0
3779           4          9     4       1
10522          6         12     4       1
22461          6         14     4       1

In [55]:
X_test2.head()

       workclass  education  race  gender
7762           4         11     4       0
23881          4         11     3       1
30507          4          9     4       0
28911          4         11     4       1
19484          4          9     4       0

In [56]:
model2 = LogisticRegression()

In [57]:
y2 = y_train2.ravel()
y_train2 = np.array(y2).astype(int)

In [59]:
model2.fit( X_train2, y_train2 )

/Applications/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [60]:
y_pred2 = model2.predict( X_test2 )

In [61]:
model2.score(X_test2, y_test2)

0.7660306281221849

In [ ]:
#X1 score = 0.8023093931700925
#X2 score = 0.7660306281221849