In [2]:
import pandas as pd
import numpy as np

from tqdm import tqdm_notebook

from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer
from sklearn.neighbors import NearestNeighbors

%matplotlib inline

In [33]:
links = pd.read_csv('links.csv')
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
tags = pd.read_csv('tags.csv')

In [4]:
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [5]:
ratings.head(10)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205
5       1     1263     2.0  1260759151
6       1     1287     2.0  1260759187
7       1     1293     2.0  1260759148
8       1     1339     3.5  1260759125
9       1     1343     2.0  1260759131

In [6]:
tags.head(10)

   userId  movieId                      tag   timestamp
0      15      339  sandra 'boring' bullock  1138537770
1      15     1955                  dentist  1193435061
2      15     7478                 Cambodia  1170560997
3      15    32892                  Russian  1170626366
4      15    34162              forgettable  1141391765
5      15    35957                    short  1141391873
6      15    37729               dull story  1141391806
7      15    45950               powerpoint  1169616291
8      15   100365                 activist  1425876220
9      15   100365              documentary  1425876220

In [7]:
movies_with_tags = movies.join(tags.set_index('movieId'), on='movieId')

In [8]:
movies_with_tags.head()

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,501.0,Pixar,1.292956e+09
1,2,Jumanji (1995),Adventure|Children|Fantasy,NaN,NaN,NaN
2,3,Grumpier Old Men (1995),Comedy|Romance,NaN,NaN,NaN
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,NaN,NaN,NaN
4,5,Father of the Bride Part II (1995),Comedy,431.0,steve martin,1.140455e+09

In [9]:
def change_string(s):
    return ' '.join(s.replace(' ', '').replace('-', '').split('|'))

In [10]:
movie_genres = [change_string(g) for g in movies.genres.values]

In [11]:
movie_genres[:10]

['Adventure Animation Children Comedy Fantasy',
 'Adventure Children Fantasy',
 'Comedy Romance',
 'Comedy Drama Romance',
 'Comedy',
 'Action Crime Thriller',
 'Comedy Romance',
 'Adventure Children',
 'Action',
 'Action Adventure Thriller']

In [12]:
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(movie_genres)

In [13]:
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

In [14]:
neigh = NearestNeighbors(n_neighbors=7, n_jobs=-1, metric='euclidean') 
neigh.fit(X_train_tfidf)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='euclidean',
         metric_params=None, n_jobs=-1, n_neighbors=7, p=2, radius=1.0)

In [15]:
test = change_string("Comedy|Romance")

predict = count_vect.transform([test])
X_tfidf2 = tfidf_transformer.transform(predict)

res = neigh.kneighbors(X_tfidf2, return_distance=True)

In [16]:
res

(array([[0., 0., 0., 0., 0., 0., 0.]]),
 array([[4921, 3304,  985, 6656, 8214, 7595, 5800]]))

In [17]:
movies.iloc[res[1][0]]

      movieId                               title          genres
4921     6999                  Housesitter (1992)  Comedy|Romance
3304     4141              Head Over Heels (2001)  Comedy|Romance
985      1230                   Annie Hall (1977)  Comedy|Romance
6656    51705     Priceless (Hors de prix) (2006)  Comedy|Romance
8214    98908  How to Make Love to a Woman (2010)  Comedy|Romance
7595    79590                 Rebound, The (2009)  Comedy|Romance
5800    26435                Starting Over (1979)  Comedy|Romance

In [18]:
movies_with_tags.dropna(inplace=True)

In [19]:
movies_with_tags.title.unique().shape

(689,)

In [20]:
tag_strings = []
movies = []

for movie, group in tqdm_notebook(movies_with_tags.groupby('title')):
    tag_strings.append(' '.join([str(s).replace(' ', '').replace('-', '') for s in group.tag.values]))
    movies.append(movie)

HBox(children=(IntProgress(value=0, max=689), HTML(value='')))

In [21]:
tag_strings[:5]

['cute', 'toplist10', 'getdvd', 'getdvd', 'toplist13']

In [22]:
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(tag_strings)

In [23]:
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

In [24]:
neigh = NearestNeighbors(n_neighbors=10, n_jobs=-1, metric='manhattan') 
neigh.fit(X_train_tfidf)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='manhattan',
         metric_params=None, n_jobs=-1, n_neighbors=10, p=2, radius=1.0)

In [25]:
for i in range(len(movies)):
    if 'Magnolia (1999)' == movies[i]:
        print(i)

366

In [26]:
tag_strings[122]

'melgibson'

In [27]:
test = change_string('pixar pixar fun')

predict = count_vect.transform([test])
X_tfidf2 = tfidf_transformer.transform(predict)

res = neigh.kneighbors(X_tfidf2, return_distance=True)

In [28]:
res

(array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]]),
 array([[415, 417, 407, 408, 410, 413, 414, 403, 416, 420]]))

In [29]:
for i in res[1][0]:
    print(movies[i])

Nebraska (2013)
Night and the City (1950)
Murmur of the Heart (Le souffle au coeur) (1971)
Musa the Warrior (Musa) (2001)
My Fair Lady (1964)
My Winnipeg (2007)
National Treasure (2004)
Mr. Smith Goes to Washington (1939)
Nerve (2016)
Nine Months (1995)

In [30]:
#TODO сделать матрицу юзеров фильмов и оценок

In [36]:
links2 = pd.read_csv('links.csv')
movies2 = pd.read_csv('movies.csv')
ratings2 = pd.read_csv('ratings.csv')
tags2 = pd.read_csv('tags.csv')

In [37]:
movies_with_ratings = movies2.join(ratings2.set_index('movieId'), on='movieId').reset_index(drop=True)
movies_with_ratings.dropna(inplace=True)

In [38]:
dataset = pd.DataFrame({
    'uid': movies_with_ratings.userId,
    'iid': movies_with_ratings.title,
    'rating': movies_with_ratings.rating
})

In [ ]:
#TODO разбить по не просмотренным фильмам

In [ ]:
#TODO предсказать оценку