In [14]:
from surprise import KNNWithMeans, KNNBasic, SVD
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import train_test_split

import pandas as pd

In [4]:
movies = pd.read_csv('movies1M.csv')
ratings = pd.read_csv('ratings1M.csv')

In [5]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [6]:
movies_with_ratings = movies.join(ratings.set_index('movieId'), on='movieId').reset_index(drop=True)
movies_with_ratings.dropna(inplace=True)

In [7]:
dataset = pd.DataFrame({
    'uid': movies_with_ratings.userId,
    'iid': movies_with_ratings.title,
    'rating': movies_with_ratings.rating
})

In [21]:
dataset.head()

    uid               iid  rating
0   7.0  Toy Story (1995)     3.0
1   9.0  Toy Story (1995)     4.0
2  13.0  Toy Story (1995)     5.0
3  15.0  Toy Story (1995)     2.0
4  19.0  Toy Story (1995)     3.0

In [9]:
ratings.rating.min()

0.5

In [10]:
ratings.rating.max()

5.0

In [11]:
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(dataset, reader)

In [12]:
trainset, testset = train_test_split(data, test_size=.15)

In [15]:
algo = SVD()
algo.fit(trainset)

In [16]:
test_pred = algo.test(testset)

In [17]:
accuracy.rmse(test_pred, verbose=True)

RMSE: 0.8948

0.8947884535969212

In [19]:
algo.predict(uid=6, iid='Fight Club (1999)')

Prediction(uid=6, iid='Fight Club (1999)', r_ui=None, est=3.7053819322406434, details={'was_impossible': False})